*.csv
*.xlsx
*.xlsm
*.xls
*.pyc
*.svg
*.zip
*_keys.py
*.geojson
*-checkpoint.ipynb
*.RData
*.RHistory
*.png
*.gif
*.html
*.json
*.shx
*.shp
*.xml
*.sbx
*.sbn
*.dbf
*.prj
.Rproj.user
*.TXT
*.pickle
*.TXT
